
html, body, .splash {
   margin: 0;
   padding: 0;
   bottom: 0;
}

body {
    /*background-image: repeating-linear-gradient(rgb(255, 255, 255), rgb(247, 245, 243) 0.01%);*/
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

div {
    flex: 1;

}

.splash {
    width: 100vw;
    position: absolute;
    background-color: black;
    opacity: 100%;
    z-index: 0;
}

/*
.door2 {
    height: 700px;
    width: 400px;
    margin-left: 30vw;
}
    */

.door1 {
    height: 700px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/*
.door1:hover {
    cursor: pointer;
    opacity: 0%;
    z-index: -1;
}

.door2:hover {
    cursor: pointer;
    opacity: 100%;
    z-index: 10;
}
    */

@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        z-index: -1;
    }
}


header {
    max-height: 10%;
    background-color: rgb(253, 246, 233);
    border: 15px solid transparent;
    border-image: url("./images/pokemonMenu2.png") 10 round;
    flex: 1;
    margin: 10px;
    border-image-outset: 7px;
    box-shadow: 7px 15px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;

}

ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 20px;
    padding: 0px;
    margin: 0px;
}

@keyframes fadeIn {
    0% {
        transform: translate (0px, 20px);
    
    }

    100% {
        transform: translate (0px, 0px);
        filter: drop-shadow(16px 16px 0px black);
        height: 450px;
        width: 450px;
    }
    
}

.card {
    height: 300px;
    width: 300px;
    border: 15px solid transparent;
    border-image: url("./images/pokemonMenu2.png") 10 round;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.card img {
    height: 600px;
    width: 600px;
    
}

.card:hover {
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    

}

footer {
    max-height: 2%;
    background-color: rgb(253, 246, 233);
    border: 15px solid transparent;
    border-image: url("./images/pokemonMenu2.png") 10 round;
    border-image-outset: 7px;
    flex: 1;
}